<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.headstrong.productivity</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>09C5AE0C-95D3-406F-92F6-CE8C892CDAFC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE06D70D-98C6-4586-8259-B4428B7A9525</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>0A73C203-FEED-4878-9CC6-2F9119FA8C2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C1EB3E9-4035-4E62-8E63-5396B2EB6CF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>14426FC8-EE48-419E-8E2D-104D1CB473F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B981387-252B-4AA2-B7E5-E51B82345CAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1730603A-443F-4439-8982-6A2E6FB13EE0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B673A5B5-D04F-42D8-8D4A-022EA92177F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>20D6BB66-727D-4AA0-AE64-886093C4BB78</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14426FC8-EE48-419E-8E2D-104D1CB473F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2C1EB3E9-4035-4E62-8E63-5396B2EB6CF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87D7A5C1-5882-466B-BD27-45CD403669A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DFEB8F58-77F9-415B-99D0-D74CF7A8BDE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8725D067-DD6C-478A-9DBD-C0E4FB9D6C1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>66A644D1-D459-4329-8792-18101BF7C1FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA1E6375-2F4E-4E22-A00D-423B140C76E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>73740EA2-E396-46FA-AC61-B4A292E0493E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20603423-E890-4F7C-AB89-4627E567E05D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>75E1123E-F46A-4C60-99F1-681726000403</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA2BD548-EBD4-47BF-BBBE-73664A81336C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>85723481-D6F4-40E6-802E-3FB4CC5B7536</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83D78443-56F3-45F4-995D-1195BEA34A88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A6C13D89-339E-4EB7-8065-F9EC4A658B3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E123BFD4-27F0-4FEE-932B-B42EFD45F88D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AA53E697-A09E-4916-9DC5-E381ED3A607F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83C34160-9604-4548-BA4C-D395D04218C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>ADB4076C-023A-41E7-8B2F-55464F85CC0C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>724F84F8-96B2-4DE9-9EB1-22F3386AD75E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B356033A-DE26-4E8A-8797-692318C6F321</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C277E3ED-683B-4117-BAF1-DE83965DF036</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B68DF77A-86DE-4A50-BBDA-983623E4CE1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B356033A-DE26-4E8A-8797-692318C6F321</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FA1E6375-2F4E-4E22-A00D-423B140C76E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14828BFA-8012-4BAB-B773-B046BFA47E15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FE06D70D-98C6-4586-8259-B4428B7A9525</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82AFD726-FC05-4472-B9F9-C4ACA5828F1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FE0CD0D8-B9E3-4838-88E0-4123C95376FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83D78443-56F3-45F4-995D-1195BEA34A88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andrew Head</string>
	<key>description</key>
	<string>Workflows for Getting Work Done</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Tasks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>st</string>
				<key>subtext</key>
				<string>TODO: {query}...</string>
				<key>text</key>
				<string>Save task</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>09C5AE0C-95D3-406F-92F6-CE8C892CDAFC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Added TODO</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>82AFD726-FC05-4472-B9F9-C4ACA5828F1C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>TASKS=~/Inventory/tasks.txt
echo "{query}" &gt;&gt; $TASKS
echo "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FE06D70D-98C6-4586-8259-B4428B7A9525</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>rt</string>
				<key>text</key>
				<string>Retrieve task</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0A73C203-FEED-4878-9CC6-2F9119FA8C2D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>TASKS=~/Inventory/tasks.txt
TMP=/tmp/tasks-tmp.txt

item=$(head -1 $TASKS)
tail -n +2 $TASKS &gt; $TMP
mv $TMP $TASKS

if [ "$item" == "" ];
then
  echo "No more tasks!";
fi
echo -n $item</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2C1EB3E9-4035-4E62-8E63-5396B2EB6CF7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>87D7A5C1-5882-466B-BD27-45CD403669A5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Next Task</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DFEB8F58-77F9-415B-99D0-D74CF7A8BDE5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Firefox" to activate
tell application "System Events" to keystroke "n" using command down

delay 1
tell application "Firefox"
    open location "http://gmail.com"
end tell

delay 1
tell application "Firefox"
    open location "http://bmail.berkeley.edu"
end tell

delay 1
tell application "Firefox"
    open location "https://docs.google.com/spreadsheets/d/1so5OtJPcp9DdVeiwvMUognocE6I4J30UIeD7z31WIbQ/edit#gid=12"
end tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8725D067-DD6C-478A-9DBD-C0E4FB9D6C1A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>eod</string>
				<key>subtext</key>
				<string>Open up web pages for end of day tasks</string>
				<key>text</key>
				<string>End of Day Activities</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hours</string>
				<key>subtext</key>
				<string>See the daily breakdown of hours this week</string>
				<key>text</key>
				<string>Hours</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>73740EA2-E396-46FA-AC61-B4A292E0493E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://docs.google.com/spreadsheets/d/1so5OtJPcp9DdVeiwvMUognocE6I4J30UIeD7z31WIbQ/edit#gid=2</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>20603423-E890-4F7C-AB89-4627E567E05D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://docs.google.com/spreadsheets/d/1so5OtJPcp9DdVeiwvMUognocE6I4J30UIeD7z31WIbQ/edit#gid=3</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>83C34160-9604-4548-BA4C-D395D04218C0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>log</string>
				<key>subtext</key>
				<string>Log the time we've spent on thriving.</string>
				<key>text</key>
				<string>Task Log</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AA53E697-A09E-4916-9DC5-E381ED3A607F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://docs.google.com/spreadsheets/d/1CNQw50xjHTMmnYl5gIi6rufxmHuvPVhP7Li2dEWKevY/edit#gid=253214465</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DA2BD548-EBD4-47BF-BBBE-73664A81336C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dates</string>
				<key>subtext</key>
				<string>Review task list.</string>
				<key>text</key>
				<string>Dates</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>75E1123E-F46A-4C60-99F1-681726000403</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://bmail.berkeley.edu</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E123BFD4-27F0-4FEE-932B-B42EFD45F88D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bmail</string>
				<key>subtext</key>
				<string>Open up Berkeley mail</string>
				<key>text</key>
				<string>Bmail</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A6C13D89-339E-4EB7-8065-F9EC4A658B3E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>manifesto</string>
				<key>text</key>
				<string>View and Edit Life Manifesto</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1730603A-443F-4439-8982-6A2E6FB13EE0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>activate application id "com.evernote.evernote"
tell application id "com.evernote.evernote"
	-- set miniaturized of window 1 to true
	set notebook1 to "Life"
	set myNotes to find notes "intitle:Manifesto"
	set myNote to item 1 of myNotes
	open note window with myNote
end tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B673A5B5-D04F-42D8-8D4A-022EA92177F4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>activate application id "com.evernote.evernote"
tell application id "com.evernote.evernote"
	-- set miniaturized of window 1 to true
	set notebook1 to "Life"
	set myNotes to find notes "intitle:Initiative"
	set myNote to item 1 of myNotes
	open note window with myNote
end tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>724F84F8-96B2-4DE9-9EB1-22F3386AD75E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>initiative</string>
				<key>text</key>
				<string>View and Edit Life Current Initiative</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ADB4076C-023A-41E7-8B2F-55464F85CC0C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tc</string>
				<key>subtext</key>
				<string>Set up notes file and other settings.</string>
				<key>text</key>
				<string>Configure "TODOs" workflow</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>66A644D1-D459-4329-8792-18101BF7C1FF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>TASKSFILE=`echo "{query}" | tr -d '\n'`
python config.py tasksfile --value $TASKSFILE
touch $TASKSFILE</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>14828BFA-8012-4BAB-B773-B046BFA47E15</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>set fileChoice to choose file name with prompt "Pick Tasks file (CSV):"do shell script "/bin/echo -n " &amp; POSIX path of fileChoice</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FA1E6375-2F4E-4E22-A00D-423B140C76E2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>today</string>
				<key>text</key>
				<string>Open Today's TODO list</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FE0CD0D8-B9E3-4838-88E0-4123C95376FA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>NOTESFILE=$(python config.py tasksfile)
open $NOTESFILE</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>83D78443-56F3-45F4-995D-1195BEA34A88</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tasks</string>
				<key>text</key>
				<string>Open Today's TODO list</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>85723481-D6F4-40E6-802E-3FB4CC5B7536</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>6B981387-252B-4AA2-B7E5-E51B82345CAE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gt</string>
				<key>text</key>
				<string>Get current task</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>20D6BB66-727D-4AA0-AE64-886093C4BB78</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python gettask.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>14426FC8-EE48-419E-8E2D-104D1CB473F1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>check</string>
				<key>subtext</key>
				<string>Launch sticky notfication to do {query}</string>
				<key>text</key>
				<string>Set minitask</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B68DF77A-86DE-4A50-BBDA-983623E4CE1D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>2</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<true/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Next Checkpoint</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C277E3ED-683B-4117-BAF1-DE83965DF036</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>-- Start by running the shell script to close existing Growl notifications
tell application "System Events" to keystroke "g" using {control down, command down, option down}

-- Pass along the current new message to Growl
delay 0.2
do shell script "echo \"{query}\""</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B356033A-DE26-4E8A-8797-692318C6F321</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>09C5AE0C-95D3-406F-92F6-CE8C892CDAFC</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>0A73C203-FEED-4878-9CC6-2F9119FA8C2D</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>14426FC8-EE48-419E-8E2D-104D1CB473F1</key>
		<dict>
			<key>ypos</key>
			<real>1500</real>
		</dict>
		<key>14828BFA-8012-4BAB-B773-B046BFA47E15</key>
		<dict>
			<key>ypos</key>
			<real>1170</real>
		</dict>
		<key>1730603A-443F-4439-8982-6A2E6FB13EE0</key>
		<dict>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>20603423-E890-4F7C-AB89-4627E567E05D</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>20D6BB66-727D-4AA0-AE64-886093C4BB78</key>
		<dict>
			<key>ypos</key>
			<real>1500</real>
		</dict>
		<key>2C1EB3E9-4035-4E62-8E63-5396B2EB6CF7</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>66A644D1-D459-4329-8792-18101BF7C1FF</key>
		<dict>
			<key>ypos</key>
			<real>1170</real>
		</dict>
		<key>6B981387-252B-4AA2-B7E5-E51B82345CAE</key>
		<dict>
			<key>ypos</key>
			<real>1500</real>
		</dict>
		<key>724F84F8-96B2-4DE9-9EB1-22F3386AD75E</key>
		<dict>
			<key>ypos</key>
			<real>1000</real>
		</dict>
		<key>73740EA2-E396-46FA-AC61-B4A292E0493E</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>75E1123E-F46A-4C60-99F1-681726000403</key>
		<dict>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>82AFD726-FC05-4472-B9F9-C4ACA5828F1C</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>83C34160-9604-4548-BA4C-D395D04218C0</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>83D78443-56F3-45F4-995D-1195BEA34A88</key>
		<dict>
			<key>ypos</key>
			<real>1320</real>
		</dict>
		<key>85723481-D6F4-40E6-802E-3FB4CC5B7536</key>
		<dict>
			<key>ypos</key>
			<real>1390</real>
		</dict>
		<key>8725D067-DD6C-478A-9DBD-C0E4FB9D6C1A</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>87D7A5C1-5882-466B-BD27-45CD403669A5</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>A6C13D89-339E-4EB7-8065-F9EC4A658B3E</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>AA53E697-A09E-4916-9DC5-E381ED3A607F</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>ADB4076C-023A-41E7-8B2F-55464F85CC0C</key>
		<dict>
			<key>ypos</key>
			<real>1000</real>
		</dict>
		<key>B356033A-DE26-4E8A-8797-692318C6F321</key>
		<dict>
			<key>ypos</key>
			<real>1610</real>
		</dict>
		<key>B673A5B5-D04F-42D8-8D4A-022EA92177F4</key>
		<dict>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>B68DF77A-86DE-4A50-BBDA-983623E4CE1D</key>
		<dict>
			<key>ypos</key>
			<real>1610</real>
		</dict>
		<key>C277E3ED-683B-4117-BAF1-DE83965DF036</key>
		<dict>
			<key>ypos</key>
			<real>1610</real>
		</dict>
		<key>DA2BD548-EBD4-47BF-BBBE-73664A81336C</key>
		<dict>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>DFEB8F58-77F9-415B-99D0-D74CF7A8BDE5</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>E123BFD4-27F0-4FEE-932B-B42EFD45F88D</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>FA1E6375-2F4E-4E22-A00D-423B140C76E2</key>
		<dict>
			<key>ypos</key>
			<real>1170</real>
		</dict>
		<key>FE06D70D-98C6-4586-8259-B4428B7A9525</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>FE0CD0D8-B9E3-4838-88E0-4123C95376FA</key>
		<dict>
			<key>ypos</key>
			<real>1280</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://andrewhead.info</string>
</dict>
</plist>
